@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&family=Noto+Sans:ital,wght@0,100;1,100&family=Open+Sans:wght@500;600&family=Poppins:wght@100&family=Roboto:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    height: 67px;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.navbar li:hover {
    color: red;
    cursor: pointer;
}

.topleft {
    width: 50%;
}

.topright {
    width: 50%;
}

.Section1 {
    max-height: 100vh;
    color: #711e15;
}

.Section1 h1 {
    font-size: 2rem;
    color: #e24938;
}

.logo {
    font-size: 1.3rem;
}

.dumbellimg {
    width: 289px;
}

.topright .gyming {
    width: 466px;
}

.Section2 {
    padding: 73px;
}

.Section2 h1 {
    font-size: 2.3rem;
}

.Section2 p {
    padding: 0 8vw;
    text-align: center;
}

.box {
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(124, 62, 62);
    border-radius: 8px;
    text-align: center;
}

.box h2 {
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted {
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.plantable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section3 table {
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.Section3 table th {
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px 0;
}

.Section3 table td {
    border-bottom: 2px solid black;
}

.Section3 h1 {
    font-size: 2.3rem;
}

.Section3 {
    padding: 73px;
}

footer {
    padding: 23px;
    text-align: center;
}